<app-header class=""></app-header>

<!-- VIDEO NAV -->
<nav class="bg-black sticky-top text-white py-1">
  <h2 class="text-center m-0">Titre Emission</h2>

  <div class="d-flex justify-content-center gap-2">
    <div class="p-1 custom-cursor">Francais</div>
    <div class="p-1 custom-cursor">Ewe</div>
    <div class="p-1 custom-cursor">Kotokoli</div>
    <div class="p-1 custom-cursor">Kabye</div>
  </div>
</nav>

<!-- BODY -->

<div class="player my-4">
  <iframe
    src="https://player.viloud.tv/embed/channel/29823d92af1c321b486d986c09647d73?autoplay=1&volume=1&controls=1&title=1&share=1&open_playlist=0&random=0"
    frameborder="0"
    allow="autoplay"
    allowfullscreen
  >
  </iframe>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 m-auto mb-4 cards">
  <div class="col">
    <div class="card">
      <img
        src="./assets/image/Episode1.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 1</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 2</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 3</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 4</h5>
      </div>
    </div>
  </div>
</div>
