<app-header></app-header>

<section class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <br>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-8" data-aos="zoom-in" data-aos-duration="1000">
          <div style='position: relative; padding-bottom: 56.25%; height: 0;'>
            <iframe 
            src='https://player.viloud.tv/embed/channel/29823d92af1c321b486d986c09647d73?autoplay=1&volume=1&controls=1&title=1&share=1&open_playlist=0&random=0' style='position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;' 
            frameborder='0' 
            allow='autoplay' 
         allowfullscreen>
        </iframe>
        </div>
          <div class="mx-2 my-4">
            <span class="text-primar font-weight-bold">#ESMC#ODD#WEBTV</span>
            <h5 class="mb-4">
              BIENVENUE SUR ESMC WEBTV SUIVEZ EN TEMPS RÉEL L'ACTUALITÉ
            </h5>
            <!-- <div class="d-flex justify-content-between">
              <h6 class=""><span class="text-primar">12586253</span> Vues</h6>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0">
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div
                class="video"
                style="position: relative; padding-bottom: 56.25%; height: 0"
              >
                <img src="https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 my-4">
                <br>
              <h5 class="mb-4">
                Lorem ipsum dolor, sit amet consectetur
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  