<div class="row my-2">
  <div class="col-md-6">
    <div
      class="video custom-cursor"
      style="position: relative; padding-bottom: 56.25%; height: 0"
    >
      <img [src]="cardEmission.img" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="col-md-6 my-4">
    <br />
    <h5 class="mb-4 custom-cursor">{{ cardEmission.title }}</h5>
  </div>
</div>
<!-- https://plus.unsplash.com/premium_photo-1678170398101-237845e645ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60 -->
