.custom-cursor {
  cursor: pointer;
}

.programmes-tv {
  padding: 20px;
}
.programmes-tv > h1 {
  margin-left: 50px;
}

.row {
  justify-content: center;
}

.programme {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  // display: flex;
  // align-items: flex-end;
}

// .programme-thumbnail {
//   width: 100px;
// }

// // .programme-details {
// //   margin-left: 10px;
// // }

.programme-details h2 {
  font-size: 20px;
  // color: white;
}
